---
---

//$primary: #fed136;

@import "bootstrap-5.1.3/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

body {
	margin-top: 56px;
}

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
.navbar-brand {
	font-family: "Kaushan Script";
	@extend .me-0;
}
.nav-link {
	@extend .text-center;
}
#navbarNavMenuMarkup {
	padding-bottom: 56px;
}

#carousel {
	overflow-x: auto;
	white-space: nowrap;
}

.my-circle {
	@extend .d-inline-flex;
	@extend .justify-content-center;
	@extend .align-items-center;
	@extend .rounded-circle;
	width: 140px;
	height: 140px;
	& svg {
		width: 75%;
		height: 75%;
		fill: $white;
	}
}

#page-top > .row:nth-of-type(odd) {
	@extend .bg-light;
}
