<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
	<head>
		<title>{{ page.title | default: site.title }}</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
		<!--[if (lt IE 9)]><script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/min/tiny-slider.helper.ie8.js"></script><![endif]-->

		<link rel="stylesheet" href="/style.css">
	</head>

	<body id="page-top">

		<!-- Fullscreen nav menu -->
		<div id="navbarNavAltMarkup" class="collapse position-fixed top-0 w-100 vh-100 bg-white">
			<div class="d-flex flex-column h-100 align-items-center">
				<hr class="mt-auto mb-3 w-50 align-self-center" />

				{% for section in site.sections %}{% if section.menutitle %}
				<a class="nav-link my-3" href="/#{{section.anchor}}"><span data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="true" aria-label="Toggle navigation">{{ section.menutitle }}</span></a>
				{% endif %}{% endfor %}
				

				<hr class="my-3 w-50 align-self-center"/>
				<div class="mb-auto mt-3">
				{% include social-media-block.html %}
				</div>

			</div>
		</div>

		<!-- Navigation -->
		<nav id="page-nav" class="navbar fixed-top navbar-expand-md navbar-light bg-light">
		
			<div class="container-fluid">

				<a class="d-md-none navbar-brand text-primary me-0 px-2" href="/#page-top">{{ site.title }}</a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse justify-content-center">
					<div class="navbar-nav">
						<a class="nav-link" href="/#about">About</a>
						<a class="nav-link" href="/#services">Services</a>
						<a class="navbar-brand text-primary me-0 px-2" href="/#page-top">{{ site.title }}</a>
						<a class="nav-link" href="/#pricing">Pricing</a>
						<a class="nav-link" href="/#contact">Contact Me</a>
					</div>
				</div>

			</div>
		</nav>

		{{ content }}

		<footer class="container-fluid">
			<div class="row">
				<div class="col">
					{% include social-media-block.html %}
				</div>
			</div>

			<div class="row">
				<div class="col">
					<small class="text-nowrap text-muted fst-italic">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</small>
				</div>
				<div class="col-auto">
					<a class="small text-nowrap text-muted" href="#">Privacy Policy</a>
				</div>
			</div>
		</footer>


		<script src="/vendor/bootstrap-5.1.3.bundle.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
		<!-- NOTE: prior to v2.2.1 tiny-slider.js need to be in <body> -->
		<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>

		<script src="/script.js"></script>
	</body>
</html>
