<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="style.css">

		<title>{{ page.title | default: site.title }}</title>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
	</head>

	<body data-bs-spy="scroll" data-bs-target="#page-nav" data-bs-offset="0" tabindex="0">

		<!-- Navigation -->
		<nav id="page-nav" class="navbar fixed-top navbar-expand-md navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand text-primary" href="#page-top">{{ site.title }}</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="flex-fill"></div>
					<div class="navbar-nav">
						{% for section in site.sections %}
						<a class="nav-link" href="#{{ section.anchor }}">{{ section.title }}</a>
						{% endfor %}
					</div>
				</div>
			</div>
		</nav>
		
		{{ content }}

		<footer>
			<div class="container-fluid">
				<div class="row align-items-center">
					<div class="col">
						<small>Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</small>
					</div>
					<div class="col-md-auto">
						<ul class="list-group list-group-horizontal">
						{% for network in site.social %}
							<li class="list-group-item"><a href="{{ network.url }}"><i class="bi-{{ network.title }}"></i></a></li>
						{% endfor %}
						</ul>
					</div>
					<div class="col text-end">
						<a class="small" href="#">Privacy Policy</a>
					</div>
				</div>
			</div>
		</footer>

		<script src="js/bootstrap-5.1.3.bundle.min.js"></script>
	</body>
</html>
