<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="style.css">

		<title>{{ page.title | default: site.title }}</title>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
		<!--[if (lt IE 9)]><script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/min/tiny-slider.helper.ie8.js"></script><![endif]-->

	</head>

	<body data-bs-spy="scroll" data-bs-target="#page-nav" data-bs-offset="0" tabindex="0" id="page-top">

		<!-- Navigation -->
		<nav id="page-nav" class="navbar fixed-top navbar-expand-md navbar-light bg-light">
			<div class="container-fluid">
				<a class="d-md-none navbar-brand text-primary" href="#page-top">{{ site.title }}</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav mx-auto d-none d-md-flex">
						<a class="nav-link" href="#section-about">About</a>
						<a class="nav-link" href="#section-services">Services</a>
						<a class="nav-link navbar-brand text-primary d-none d-md-inline" href="#page-top">{{ site.title }}</a>
						
						<a class="nav-link" href="#section-pricing">Pricing</a>
						<a class="nav-link" href="#section-contact">Contact Me</a>
						{% comment %}
						{% for section in site.sections %}
						<a class="nav-link" href="#{{ section.anchor }}">{{ section.title }}</a>
						{% endfor %}
						{% endcomment %}
					</div>
					<div id="navbarNavMenuMarkup" class="navbar-nav d-md-none vh-100">
						<hr class="mt-auto mb-4 w-50 align-self-center" />
						<a class="nav-link my-4" href="#section-about">About</a>
						<a class="nav-link my-4" href="#section-services">Services</a>
						<a class="nav-link my-4" href="#section-pricing">Pricing</a>
						<a class="nav-link my-4" href="#section-contact">Contact Me</a>

						<hr class="my-4 w-50 align-self-center"/>
						<div class="mb-auto mt-4 text-center">
						{% for network in site.social %}
						<a href="{{ network.url }}"><i class="bi-{{ network.title }}"></i></a>
						{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</nav>
		
		{{ content }}

		<footer>
			<div class="container-fluid">
				<div class="row align-items-center">
					<div class="col">
						<small>Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</small>
					</div>
					<div class="col-md-auto">
						<ul class="list-group list-group-horizontal">
						{% for network in site.social %}
							<li class="list-group-item"><a href="{{ network.url }}"><i class="bi-{{ network.title }}"></i></a></li>
						{% endfor %}
						</ul>
					</div>
					<div class="col text-end">
						<a class="small" href="#">Privacy Policy</a>
					</div>
				</div>
			</div>
		</footer>

		<script src="js/bootstrap-5.1.3.bundle.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
		<!-- NOTE: prior to v2.2.1 tiny-slider.js need to be in <body> -->

		<script src="script.js"></script>
	</body>
</html>
